<%include ./partials/header %>
    <div class="row">
        <h1 style="width: 30%; margin: 25px auto;">Login</h1>
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Userame">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login">
        </form>

    </div>
    <%include ./partials/footer %>