<% include partials/header %>

    <p>
        <%= campgrounds.name %>
    </p>

    <img src="<%=campgrounds.image%>" alt="camp">

    <p>
        <%=campgrounds.description%>
    </p>

    <% include partials/footer %>